/* This style sheet overrides styles in regular css to make page work for those without javascript*/
.items section {
	float:none !important;
	margin-right:30px;
}
.scrollable .items {
    position: absolute;
	width:660px !important;
}
.scrollable {
    overflow: default;
    position: inherit;
    width: 510px;
}